#MainName {
    text-align: center;
    border: solid 3px;
    border-color: blue;
    color: blue;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    text-size-adjust: 2px;
}

#background {
    background-color: black;
}

#logo {
    display: block;
    height: 150px;
    width: 150px;
    border: solid 2px;
    border-radius: 15px;
    border-color: blue;
}

#GetScript {
    display: block;
    margin: auto;
    border: solid 2px;
    border-radius: 10px;
}